.categories{

    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
  
.categories .categories-wrapper{
  
    width: 100%;
    margin: 100px 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    justify-content: center;
}

.categories .categories-wrapper .button-wrapper{
    
    position: relative;
    border-radius: 5px;
    margin: 0px 15px;
    width: 100%;
}

.categories .categories-wrapper .button-style-wrapper{

    display: flex;
    align-items: center;
    font-family: 'gochi hand', cursive;
    border-radius: 5px;
}
  
.categories .categories-wrapper .button-wrapper button{
  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    border-style: none;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-family: 'gochi hand', cursive;
}
  
.categories .categories-wrapper button img{
  
    margin-right: 10px;
    height: 60%;
    width: auto;
}
  
.categories .categories-wrapper .button-wrapper button:hover + .button-style-wrapper{
  
    background-color: #eeeeee;
}

.categories .categories-wrapper .top-button{
    margin-top: 15px;
}

.categories .categories-wrapper .bottom-button{
    margin-bottom: 15px;
}
